[submodule "Libs/RapidJSON"]
	path = Libs/RapidJSON
	url = https://github.com/Tencent/rapidjson/
[submodule "Libs/RapidXML"]
	path = Libs/RapidXML
	url = https://github.com/timniederhausen/rapidxml
[submodule "Libs/sml"]
	path = Libs/sml
	url = https://github.com/boost-ext/sml
[submodule "Libs/LitleFS"]
	path = Libs/LitleFS
	url = https://github.com/littlefs-project/littlefs
